body{
    background-color:darkslateblue;
}
.navbar{
    background-color:white;
    color:black;
    display:flex;
}
.left-nav{
    margin-right:auto;
}
.right-nav{
    display:flex;
    align-items: center;
    font-size: 20px;
    
}