body{
    background-color:blue;
}
#navbar{
    background:rgb(255, 167, 5);
}
#navbar ul li {
    margin: auto 1rem;
    font-size:1.5rem;
}
.s-around{
    justify-content:space-around;
}
.left-nav{
    margin-right:auto ;
    color:white;
}
.line1{
    list-style-type:none;
}

.flex{
    display:flex;
}
.t-white{
    color:white;
}
.roboto{
    font-family:roboto;
}